@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://github.com/Swap1407">this</a>.</p>
</div>
<div class="text-left">
        <h5>Dotnet core application which is connected to SQL using EF ORM, which involves following feature:</h5>
        <ol>
            <li>Proper logging in a log file</li>
            <li>Task is scheduled to read a file from a location on your drive and insert into DB. This task should run daily on a specific time</li>
            <li>An Email will be sent upon complition of task mentioning wheather is has failed or completed.</li>
            <li>Unit test cases</li>
        </ol>
</div>
    
    

